/*
Main Colors:
White: #FFFFFF
Dark Blue: #0C2057
Light Blue: #5270C3
Regular Blue: #2651C6
Black-ish: #2E2E2E
*/

/*   filter: invert(23%) sepia(68%) saturate(2588%) hue-rotate(217deg) brightness(91%) contrast(93%); */

h1 {
  font-size: calc(0.5vw + 20px);
}

a {
  color: #5270C3;
}

hr {
  border: 1px solid #2e2e2e;
}

.App {
  text-align: center;
  color: white;
}

/* Nav Bar */

.nav-bar {
  display: flex;
  align-items:center;
  justify-content: center;
  background-color: #2e2e2e;
  box-shadow: 10px 10px 20px #1c1c1c;

}

.left-side {
  display: flex;
  justify-content:flex-start;
}

.right-side {
  display: flex;
  justify-content:end;
  align-items: center;
}

.reddit-logo {
  max-width: 5%;
  align-self: center;
  border-radius: 100%;
  padding: 10px;
}

.search-icon {
  padding: 2px;
  max-width: 10%;
  filter: invert(23%) sepia(68%) saturate(2588%) hue-rotate(217deg) brightness(91%) contrast(93%);
}

.text {
  padding: 0.1vw 7vw;
  font-weight: 300;
  border: 0.2vw solid #2651c6;
  margin: 0 1vw;
  border-radius: 25px;
  font-size: 2vw;
  text-align: left;
}

@media screen and (max-width: 600px) {
  .text {
    font-size: 4vw;
    border: 0.5vw solid #2651c6;
    padding: 0.1vw 10vw;
  }
  h1 {
    font-size: calc(0.5vw + 15px);
  }
  .reddit-logo {
    max-width: 10%;
  }
}

/* Reddit Post */

.post {
  display: flex;
  background-color: #2651c6ca;
  width: 70%;
  margin: 0 2vw;
  padding: 2vw;
  border-radius: 25px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
}

.post-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.post-text {
  width: 100%;
  text-align: left;
}


.upvote-system {
  margin: 0 2vw;
}

.upvote-system :nth-child(3) {
  transform: rotateZ(180deg);
}

.user-info {
  display: flex;
  justify-content: space-between;
}

.message-icon {
  max-width: 30%;
  padding: 0 1vw;
  filter: invert(100%) sepia(0%) saturate(3803%) hue-rotate(188deg) brightness(108%) contrast(111%);
}

.arrow {
  filter: invert(100%) sepia(0%) saturate(3803%) hue-rotate(188deg) brightness(108%) contrast(111%);
}

.messages {
  display: flex;
  justify-content: end;
}

.other-info p {
  padding: 0 100px;
}