/*
Main Colors:
White: #FFFFFF
Dark Blue: #0C2057
Light Blue: #5270C3
Regular Blue: #2651C6
Black-ish: #2E2E2E
*/

h1 {
  font-size: 35px;
}

.App {
  text-align: center;
  color: white;
}

/* Nav Bar */

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2e2e2e;
  box-shadow: 10px 10px 10px #1c1c1c;
}

.nav-bar :nth-child(1) {
  padding: 5px;
}
.reddit-logo {
  border-radius: 100%;
  max-width: 4%;
  max-height: 4%;
}

.message-icon {
  max-width: 20%;
  filter: invert(23%) sepia(68%) saturate(2588%) hue-rotate(217deg) brightness(91%) contrast(93%);
}

.text {
  border-color: white;
  margin: 20px;
  font-weight: 500;
  padding: 5px 5vw;
  background-color: #2651C6;
  border-radius: 25px;
  align-self: left;
}

.left-side {
  align-self: left;
  display: flex;
  align-items: center;
}

.right-side {
  align-self: right;
  display: flex;
  align-items: center;
}
